<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="scala.application">
<listAttribute key="StepOutExcludePkgsOrClasses"/>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/savetweets/src/main/scala/com/hasitha/twitter/savetweets/twitterstreaming.scala"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="com.hasitha.twitter.savetweets.twitterstreaming"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="rg3OSMHl7fhpC4osenIEHGwmj qHnB7OL2sghUHZeBnIOcHW8isRi1qVKmpCgvkncHmwgiYLZ8uZ 229931585-k0S4Lu9TyWvQCdWUplC2v2scrGdkc9Ix5bjuhxSJ yEFLcSO9L9Dny7ld1lqQdNkS1ub1Z7ZMt3vlmOTV4LHz6"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="savetweets"/>
</launchConfiguration>
